@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
body {
  background-color: #eef9bf;
}

header {
  width: 100vw;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: #75b79e;
  font-size: 56px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.004em;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  width: 117px;
  height: 146px;
  background-color: #a7e9af;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  margin: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.face {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 20px;
  right: 10px;
  backface-visibility: hidden;
}

.back-face {
  transform: rotateY(180deg);
}

.cardRotacionado {
  transform: rotateY(180deg);
}
